# 자료형
---

## 1.숫자형 자료형

In [4]:
a=3
b=4

In [ ]:
####사칙연산
print(a+b)
print(a*b)
print(a/b)

print(a**b)  ##제곱
print(7 % 3) ##나눗셈 후 나머지
print(3 % 7)

a // b ##나누기 후 소수점 아래 버림

---

## 2.문자열 자료형

In [ ]:
print('Hello World')
print('Python is fun')

In [ ]:
####문자열에 따옴표 포함
print('python\'s is favorite is peal')
print("\"Python is very easy.\" he said.")


#### \(백슬래시)를 이용하면 큰 따옴표와 작은 따옴표를 문자열에 포함시킬 수 있다.

In [ ]:
####여러 줄로 이루어진 문자열(개행문자 \n 이용)
multiline1='Life is too short\nYou need python'
print(multiline1)

In [ ]:
multiline2='''
life is too short
you need python
'''
print(multiline2)

#### \n 이나 3중 따옴표를 이용하면 여러 줄로 나오는 문자열을 만들 수 있다

### 이스케이프 코드
    프로그래밍을 할 때 사용할 수 있도록 미리 정의해 둔 '문자조합'
    출력물을 보기 좋게 하기 위해 사용


| 코드 | 설명                     |
|------|--------------------------|
| \n   | 문자열 안에서 줄을 바꿀 때 사용 |
| \t   | 문자열 사이에 탭 간격을 줄 때 사용 |
| \\   | 문자 \를 그대로 표현할 때 사용 |
| \'   | 작은따옴표(')를 그대로 표현할 때 사용 |
| \"   | 큰따옴표(")를 그대로 표현할 때 사용 |

In [ ]:
#### 문자열 더해서 연결하기 (concat)
head='python'
tail=' is fun'
print(head+tail)

In [ ]:
#### 문자열 곱하기
print(head *2)

In [ ]:
#### 인덱싱
a = 'Life is too short, you need python'
print(a[0])
print(a[12])
print(a[-1])
print(a[-2])

파이썬은 0부터 숫자를 센다  
●-1은 문자열의 마지막  
●-2는 문자열의 끝에서 두번째

In [ ]:
#### 슬라이싱
print(a[0:4])
print(a[0:6])

a[시작번호 : 끝 번호]  
● 끝 번호에 해당되는 것은 포함 안됨  
● 공백도 일반 문자와 동일하게 취급

In [ ]:
a='20010331Rainy'
date=a[:8]
weather=a[8:]

print(date)     ##시작 인덱스가 없으면 처음부터 시작
print(weather)  ##끝 인덱스가 없으면 마지막까지

#### 문자열 포메팅  
문자열 내에 값을 삽입하는 것을 문자열 포매팅이라 함  
문자열 포매팅에는 3가지 방법이 있음  
1. %연산
2. .format
3. f 문자열

### 1. %연산

In [ ]:
## 1-숫자 대입
print('I eat  %d apples.' %3)     ##문자열 내에 3이라는 정수를 삽입하고 싶은 자리에 %d라는 문자를 넣고 가장 뒤에 삽입할 정수를 % 뒤에 적는다.

## 2-문자열 대입
print('I ate %s apples' %'five')  ##문자열 내에 삽입하고 싶은 자리에 %s 를 넣고 가장 뒤에 삽입할 문자를 % 뒤에 적는다.

In [ ]:
##활용
number=10
day='three'

print('I ate %d apple. So I was sick for %s days.' %(number,day))

## 문자열 포멧 코드  

| 문자열 포멧 코드 |      설명      |
|--------------  | ------------  |
|       %s       | 문자열(string) |
|       %c       | 문자1개(charater) |
|       %d       | 정수(Integer)  |
| %f | 부동소수(float) |
| %o | 8진수 |
| %x | 16진수 |
| %% | %문자 그 자체 |

In [ ]:
## %s의 경우 어떤 값이든 변환 가능-> 자동으로 %뒤의 값을 문자열로 변경
print('I have %s apples' %3)
print('I have %s apples' %3.14)

In [ ]:
## %d와 %를 같이 사용하는 경우엔 %%를 사용
print('accuracy is %d%%.' %98)

In [ ]:
## 정렬과 공백
print('%10s' %'hi')
print('%-10sjane' %'hi')
## '%10s'는 전체 길이가 10인 문자열 공간에서 hi를 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 넘긴다는 의미
## '%-10s'는 전체 길이가 10인 문자열 공간에서 hi를 왼쪽으로 정렬하고 그 뒤의 나머지를 공백으로 넘긴다는 의미

In [ ]:
## 소수점 표현
print("%0.4f" % 3.428329) ##소수점 이하 넷째 자리까지만 표현

print('%10.4f' %3.4232839) ##소수점 이하 넷째 자리까지만 표현하고 문자열 길이가 10개인 문자열을 만들고, 오른쪽 정렬
print('%-10.4fjane' %3.32423423) ##소수점 이하 넷쨰 자리까지만 표현하고 문자열 길이가 10개인 문자열을 만들어 왼쪽 정렬

### 2. format 함수를 이용한 포매팅

In [ ]:
## format 함수를 이용한 포매팅 -> %연산자보다 깔끔함
print('I ate {0} apples.'.format(3))
print('I ate {0} apples'.format('five'))

In [ ]:
##활용
number=10
day='three'
print('I ate {0} apples. So I was sick for {1} days'.format(number,day))

2개 이상의 값을 넣을 경우 문자열의 {0}, {1}과 같은 인덱스 항목이 format 함수의 입력값으로 순서에 맞게 바뀐다.

In [ ]:
## 소수점 표현 -> 앞에서 살펴보았던 표현식 사용 가능
y=3.4323423
print('{0:0.4f}'.format(y)) #소수점 4자리
print('{0:10.4f}'.format(y)) #소수점 4자리 + 오른쪽 정렬

In [ ]:
## {}를 표시하고 싶은 경우
print('{{ and }}'.format())

format 함수를 사용해 문자열 포매팅을 할 경우 { }와 같은 중괄호(brace) 문자를 포매팅 문자가 아닌 문자 그대로 사용하고 싶은 경우에는 위 예의 {{ }}처럼 2개를 연속해서 사용하면 된다.

### 3. f문자열

In [ ]:
name='홍길동'
age= 30.3422323123
print(f'내 이름은 {name}입니다. 나이는 {age:0.4f}입니다')

## 문자열 관련 함수  
 ● 문자열 내장함수 : 문자열 자료형이 가지고 있는 함수로, 문자열 변수 뒤에 . 을 붙인 다음에 함수 이름을 쓰면 된다.

| 함수 | 설명 |
| --- | --- | 
| count( ) | 특정 문자의 개수 |
| find( ) | 특정 문자의 위치 |
| index( ) | 특정 문자의 위치 |
| upper( ), lower( ) | 대,소문자 변환 |
| strip( ) | 공백 제거 |
| replace( ) | 문자 바꾸기 |
| split( ) | 문자열 나누기 |

In [ ]:
##count : 특정 문자의 개수
a = 'hobby'
a.count('b')

In [ ]:
## find : 특정 문자의 인덱스 1
a = 'python is best choice'
print(a.find('b'))
print(a.find('k'))

문자열 중 문자 b가 처음으로 나온 위치를 반환하고 만약 찾는 문자나 문자열이 존재하지 않으면 -1을 리턴

In [ ]:
## index : 특정 문자의 인덱스 2
a = 'Life is too short'
print(a.index('t'))
print(a.index('k'))

find와는 다른 점은 찾는 문자열이 존재하지 않으면 오류를 발생 시킨다.

In [ ]:
## join : 문자열 삽입
a=','
a.join('abcd')

In [ ]:
## upper, lower : 대,소문자 변환
a = 'HI'
b = 'hi'
print(a.lower())
print(a.upper())

In [ ]:
## strip : 양쪽 공백 지우기
## lstrip : 왼쪽 공백 지우기
## rstrip : 오른쪽 공백 지우기
a = ' hi '
print(a.strip())
print(a.lstrip())
print(a.rstrip())

In [ ]:
## replace : 문자열 바꾸기
a = 'Life is too short'
a.replace('Life','your leg')

In [ ]:
## split : 문자열 나누기
a = 'Life is too short'
print(a.split())

b = 'a:b:c:d'
print(b.split(':'))

In [ ]:
## 다음과 같이 연속으로 사용할수도 있다.
a = ' Life is too short '
print(a.strip().replace(" ",'_'))

---

## Boolean 자료형  
### 참(True)과 거짓(False)를 나타내는 자료형

In [ ]:
##Boolean 자료형은 조건문의 리턴값으로 사용됨
print(1==1)
print(2>1)
print(2<1)

| 값         | True or False |
|------------|---------------|
| "python"   | True          |
| ""         | False         |
| [1, 2, 3]  | True          |
| []         | False         |
| ()         | False         |
| {}         | False         |
| 1          | True          |
| 0          | False         |
| None       | False         |

In [ ]:
## bool 연산
print(bool('python'))
print(bool(''))

python이라는 문자열은 빈 문자열이 아니므로 True, ''는 빈 문자열이므로 False 리턴

In [ ]:
print(bool([1,2,3]))
print(bool([]))
print(bool(0))
print(bool(3))

---

# 컨테이너 자료형  
파이썬의 기본 컨테이너 자료형  
1. 리스트  (List)
2. 튜플    (Tuple)
3. 딕셔너리 (Dictionary)
4. 집합    (Set)

---

## 1.리스트
리스트는 데이터의 목록을 다루는 자료형  
단일 데이터가 명함이라면, 리스트는 명함을 모아두는 명함집

In [4]:
odd=[1,3,5,7]
a=[1,2,['a','b']]

In [ ]:
##리스트의 인덱싱
a=[1,2,3]
print(a[0])
print(a[2])
print(a[-1])
print(a[0]+a[2])

In [ ]:
##중첩된 리스트의 인덱싱
a=[1,2,3,['a','b','c']]
print(a[-1])
print(a[3][0])

In [ ]:
##리스트의 슬라이싱
a=[1,2,3,4,5]
print(a[0:2])
print(a[2:])

In [ ]:
##중첩된 리스트의 슬라이싱
a=[1,2,3,['a','b','c'],4,5]
print(a[2:5])
print(a[3][:2])

In [ ]:
##리스트 더하기
a=[1,2,3]
b=[4,5,6]
print(a+b)

In [ ]:
a=[1,2,3]
print(a*3)

### 리스트 더하기 주의사항
리스트에 + 연산자를 사용할 때, 양쪽의 피연산자가 모두 리스트여야 한다. 리스트와 다른 타입을 더하려고 하면 TypeError가 발생한다.

In [ ]:
a=[1,2,3]
b='456'
print(a+b)

In [ ]:
print(a[2]+'hi')

In [ ]:
##str( )은 정수나 실수를 문자열의 형태로 바꿔주는 파이썬의 내장 함수이다.
print(str(a[2])+'hi')

In [ ]:
##리스트에서 하나의 값 수정하기
a=[1,2,3]
a[2]=4
print(a)

a[1:2]=['a','b','c']
print(a)

In [ ]:
a=[1,2,3]
a[1] =['a','b','c']
print(a)

a[1:2] = ['a','b','c'] 로 수정하는 것과 a[1]=['a','b','c']로 수정하는 것은 전혀 다른 결과값을 갖게 되므로 주의해야 한다.

In [41]:
##[] 사용해 리스트 요소 삭제
a=[1,'a','b','c',4]
a[1:3]=[]
print(a)

[1, 'c', 4]

In [44]:
##del 함수 사용해 리스트 요소 삭제
print(a)
del a[1]
print(a)

[1, 'c', 4]
[1, 4]

In [45]:
##len() 함수 사용해 리스트의 크기 구하기
a=[1,2,3,4]
len(a)

4

참고로 a.count() 와 같이 사용되는 것들은 '메서드(method)'라고 하는 것들이며 특정 객체에 속해 있는 함수들이다.  
len(a) 와 같이 사용되는 것은 함수(function)이며 특정 객체에 속하지 않고 독립적으로 정의되어 호출된다.

In [46]:
##append를 사용하여 리스트에 요소 추가
a=[1,2,3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [57]:
##sort를 사용해 리스트 정렬
a=[1,4,3,2]
a.sort()                 ##오름차순 (default)
print(a)

a.sort(reverse=True)     ##내림차순
print(a)

b=['a','d','c','b']
b.sort()
print(b)

c=['ㄴ','ㄹ','ㄱ','ㄷ']
c.sort()
print(c)

[1, 2, 3, 4]
[4, 3, 2, 1]
['a', 'b', 'c', 'd']
['ㄱ', 'ㄴ', 'ㄷ', 'ㄹ']

In [59]:
##reverse를 사용해 리스트 뒤집기
a=['a','c','b']
a.reverse()
print(a)

['b', 'c', 'a']

In [63]:
##index를 사용해 위치 반환
a=[1,2,3]
print(a.index(3))
print(a.index(1))

2
0

In [65]:
##insert를 사용해 리스트에 요소 삽입 : append(추가하고 싶은 인덱스, 값)
a=[1,2,3]
a.insert(0,4)
print(a)

[4, 1, 2, 3]

In [66]:
##remove를 사용해 리스트 요소 제거 : 선택한 값이 리스트에서 사라짐
a=[1,2,3,1,2,3]
a.remove(3)
print(a)

[1, 2, 1, 2, 3]

In [68]:
##pop을 사용해 리스트 요소 빼내기
a=[1,2,3]
a.pop()
print(a)

[1, 2]

In [69]:
a=[1,2,3]
a.pop(1)
print(a)  ##인덱스 번호에 해당하는 원소를 끄집어낸다. default:-1

[1, 3]

In [70]:
##count로 리스트에 포함된 요소x 의 개수 새기
a=[1,2,3,4,4]
print(a.count(4))

2

In [73]:
##extend로 리스트 확장
a=[1,2,3]
a.extend([4,5])
print(a)

b=[6,7]
a.extend(b)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]

---

## 2. 튜플 자료형
리스트는 리스트 생성 후 추가/수정/삭제가 가능하지만 튜플은 생성하고 나면 변경이 불가능함  
리스트는 이름 그대로 목록 형식의 데이터를 다루는데 적합하며 튜플은 위경도 좌표나 RGB 색상처럼 작은 규모의 자료구조를 구성하기에 적합

In [74]:
##튜플의 형태
t1=()
t2=(1,)                     ##t2=(1,)처럽 단지 1개의 요소만을 가질 때는 요소 뒤에 콤마를 반드시 붙여야 함.
t3=(1,2,3)
t4=1,2,3
t5=('a','b',('ab','cd'))

In [75]:
##튜플 요소 값 삭제시 오류
t1=(1,2,'a','b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [76]:
##튜플 요소값 변경 시 오류
t1=(1,2,'a','b')
t1[0]='c'

TypeError: 'tuple' object does not support item assignment

In [78]:
##인덱싱
t1=(1,2,'a','b')
print(t1[0])
print(t1[3])

##슬라이싱
t1[1:]

1
b

(2, 'a', 'b')

In [80]:
##더하기
t2=(3,4)
print(t1+t2)

##곱하기
print(t2*3)

(1, 2, 'a', 'b', 3, 4)
(3, 4, 3, 4, 3, 4)

---

## 3. 딕셔너리 자료형
● 연관 배열(Associative array) 또는 해시(Hash)라고도 불림  
● Key를 통해 value를 얻음

In [1]:
dict={'name':'pey','phone':'01022223333','birth':'1118'}

In [2]:
##딕셔너리 쌍 추가
a = {1:'a'}
a[2]='b'
print(a)

{1: 'a', 2: 'b'}

In [3]:
##딕셔너리 요소 제거
del a[1]
print(a)

{2: 'b'}

In [5]:
##딕셔너리에서 key 사용해 value 얻기
grade = {'pey':10,'jim':99}
print(grade['pey'])
print(grade['jim'])

10
99

In [8]:
##딕셔너리 만들 때 주의사항 1 : 덮어쓰기
a = {1:'a',1:'2'}
print(a[1])

2

In [9]:
##딕셔너리 만들 때 주의사항 2 : key에 리스트를 쓸 수는 없음(튜플은 가능)
a = {[1,2]:'hi'}

TypeError: unhashable type: 'list'

In [12]:
##key 리스트 만들기
a={'name': 'pey','phone':'01022223333','birth':'1118'}

print(a.keys())
print(list(a.keys()))

dict_keys(['name', 'phone', 'birth'])
['name', 'phone', 'birth']

In [13]:
##value 리스트 만들기
print(a.values())

dict_values(['pey', '01022223333', '1118'])

In [15]:
##key, value 쌍 얻기
print(a.items())

dict_items([('name', 'pey'), ('phone', '01022223333'), ('birth', '1118')])

In [16]:
##key,value 모두 지우기
a.clear()
print(a)

{}

In [18]:
##key로 value 얻기
a={'name': 'pey','phone':'01022223333','birth':'1118'}

print(a.get('name'))
print(a.get('foo','bar'))

pey
bar

딕셔너리 안에 찾으려는 key 값이 없을 경우 미리 정해 둔 디폴트 값을 대신 가져오게 하고 싶을 때에는 get(x,'디폴트값')을 사용하면 편리하다.

In [20]:
##해당 key가 딕셔너리 안에 있는지 조사하기
print('name' in a)
print('email' in a)

True
False

---

## 4.집합 자료형
● 집합에 관련된 것들을 쉽게 처리하기 위해 만들어진 자료형  
● 중복이 허용 안됨  
● 순서가 없음(Unordered)

In [22]:
##집합 자료형
s1=set([1,2,3])
print(s1)

{1, 2, 3}

In [23]:
##순서와 중복 X
s2=set('hello')
print(s2)

{'o', 'l', 'h', 'e'}

In [24]:
##중괄호를 이용하여 집합을 만들 때는 반드시 원소가 들어가 있어야 함
a={} # 딕셔너리
b={1:2} #딕셔너리
c={1,2,3} #집합

In [26]:
##교집합
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])

print(s1 & s2)
print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}

In [28]:
##합집합
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [31]:
##차집합
print(s1-s2)
print(s1.difference(s2))

print(s2-s1)
print(s2.difference(s1))

{1, 2, 3}
{1, 2, 3}
{8, 9, 7}
{8, 9, 7}

In [32]:
##값 1개 추가하기
s1=set([1,2,3])
s1.add(4)

print(s1)

{1, 2, 3, 4}

In [33]:
##값 여러 개 추가하기
s1.update([4,5,6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [35]:
##특정 값 제거하기
s1.remove(6)
print(s1)

{1, 2, 3, 4, 5}

In [37]:
##집합을 리스트로 변경
s2=list(s1)
print(s2)

[1, 2, 3, 4, 5]

In [38]:
##리스트를 집합으로 변경 -> 중복 제가
s1=[1,2,3,3]
s2=set(s2)

print(s2)

{1, 2, 3, 4, 5}

---

## 변수
● 변수는 자료형의 값을 저장하는 객체임

In [39]:
a=3

위의 코드를 통해 

● 3이라는 값을 가지는 정수 자료형(객체)이 자동으로 메모리에 생성  
● 변수 a는 객체가 저장된 메모리의 위치를 가리키는 레퍼런스  
● a라는 변수는 3이라는 정수형 객체를 가리킴

In [40]:
## 리스트 변수 주의사항
a=[1,2,3]
b=a

In [41]:
##Reference 변수가 바뀌며 b도 같이 바뀜
a[1]=4
print(a)
print(b)

[1, 4, 3]
[1, 4, 3]

[:]를 이용하여 복사하면 새로운 리스트를 생성한다.

In [43]:
## 같은 값을 가지는 다른 객체 생성
a=[1,2,3]
b=a[:]
a[1]=4

print(a)
print(b)

[1, 4, 3]
[1, 2, 3]